@using Newtonsoft.Json
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="FrcScouting.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>

@code
{
    protected override Task OnInitializedAsync()
    {
        if (File.Exists("comps.json"))
        {
            Comp.Comps = JsonConvert.DeserializeObject<List<Comp>>(File.ReadAllText("comps.json"));
        }
        else
        {
            Comp.Comps = new List<Comp>();
        }

        return base.OnInitializedAsync();
    }
}
