@page "/Dev"
@rendermode InteractiveServer

<PageTitle>Dev</PageTitle>

<p>blue alliance comp key (go find this)</p>
<input type="text" @bind="key"/>
<button @onclick="createComp">create comp</button>

@code
{
    string key;
    void createComp()
    {
        //Environment.Exit(1);
        Console.WriteLine("created comp");
        FrcScouting.Comp comp = new FrcScouting.Comp(key);
        
        CompList.List.Add(key, comp);
    }
}
