@page "/Dev"

<PageTitle>Dev</PageTitle>

<p>comp id (make this up):</p>
<input type="text" @bind="id"/>
<p>blue alliance comp key (go find this)</p>
<input type="text" @bind="key"/>
<button @onclick="createComp">create comp</button>

@code
{
    string key;
    string id;
    void createComp()
    {
        FrcScouting.Comp comp = new FrcScouting.Comp();
        comp.id = id;
        comp.key = key;
    }
}
