@page "/Dev"

<PageTitle>Dev</PageTitle>

<p>comp id (make this up):</p>
<input type="text" @bind="id"/>
<p>blue alliance comp url (go find this)</p>
<input type="text" @bind="url"/>
<button @onclick="createComp">create comp</button>

@code
{
    string url;
    string id;
    void createComp()
    {
        
    }
}
