@page "/"
@inject NavigationManager _NavigationManager

<PageTitle>Home</PageTitle>

<h1>1014 Scouting</h1>

@if (CompList.List.Count < 1)
{
    <p>no comp currently active, if there should be one ask scouting head</p>
}
else
{
    <p>comp active!</p>
    
    <table class="table" style="width: 500px">
        <thead>
        <tr>
            <th>comp id</th>
            <th>link</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var pair in CompList.List)
        {
            <tr>
                <td>@pair.Value.CompEvent.Name</td>
                <td><a @onclick="@(()=>nav(@pair.Key))">@pair.Key</a></td>
            </tr>
        }
        </tbody>
    </table>
}

@code
{
    void nav(string key)
    {
        _NavigationManager.NavigateTo("comp/" + key + "/");
    }
}
