@page "/search"
@rendermode InteractiveServer
@inject NavigationManager _NavigationManager

<PageTitle>Search</PageTitle>
<p>input team number</p>
<input type="text" @bind="@parameter">
<button @onclick="validateInput">search</button>
@if (valid)
{
    _NavigationManager.NavigateTo("stats/" + teamNumber + "/");
}

@code
{
    string? parameter { get; set; }
    bool valid = false;
    int teamNumber = -1;

    void validateInput()
    {
        if (int.TryParse(parameter, out teamNumber))
            valid = true;
        else
            valid = false;
        
    }
}
