@page "/comp/{compid}/{teamnum}/form"
@inject NavigationManager _NavigationManager
@rendermode InteractiveServer


    <label>Is robot short enough to go under stage? <InputCheckbox @bind-Value="stage"/></label>
    <label>Can robot score from far away? <InputCheckbox @bind-Value="far"/></label>
    <label>Can robot shuttle? (shoot rings across the field to it's teammates) <InputCheckbox @bind-Value="shuttle"/></label>
    <label>Can robot climb with other robots on the same chain? <InputCheckbox @bind-Value="climb"/></label>
    <label>Can robot play defense? <InputCheckbox @bind-Value="def"/></label>
    <label>
        <select @bind="sp">
            <option value="@Speeds.Slow">slow</option>
            <option value="@Speeds.Average">Average</option>
            <option value="@Speeds.Fast">Fast</option>
        </select>
    </label>
    <button @onclick="submit">submit</button>

@code
{
    [Parameter]
    public string compid { get; set; }
    FrcScouting.Comp comp;
    [Parameter]
    public string teamnum { get; set; }
    bool stage, far, shuttle, climb, def;
    Speeds sp;

    protected override Task OnInitializedAsync()
    {
        comp = CompList.List[compid];
        return Task.CompletedTask;
    }

    void submit()
    {
        comp.robots.Find(x => x.TeamYear.team == teamnum).teamData.Add(new TeamData(stage, far, shuttle, climb, def, sp));
        _NavigationManager.NavigateTo("..");
    }
}
